@font-face {
    font-family: 'gadi-almog-regular-aaa';
    src: url(../fonts/gadi-almog-regular-aaa.otf) format('opentype');
}

header {
    position: relative;
    right: 250px;
    width: 75%
}

.oded {
    position: absolute;
    width: 232px;
    height: 250px;
    top: 0px;
    right: -250px;
}

/*story*/

.gadiAlmog {
    font-family: gadi-almog-regular-aaa;
}

.endQuote {
    position: absolute;
    top: 4130px;
    right: 650px;
}

/*button*/

.button {
    position: absolute;
    top: 4150px;
    right: 1050px;
}

.divButton a {
    position: absolute;
    top: 4180px;
    right: 1110px;
    z-index: 1;
}

/*odedFooter*/

#odedFooter {
    position:relative;
    top:4500px;
    width: 1280px;
    max-width: 100%;
    height: 349px;
    padding-bottom: 0px;
}

#odedFooter hr {
    position: relative;
    top: -2px;
    border: 0px;
    border-bottom: 2px solid black;
}

/*footer table*/

#odedFooter table {
    position: relative;
    top: -25px;
    right: 370px;
    width: 550px;
    text-align: center;
}

.thOne {
    position: relative;
    right: -170px;
}

.tdOne {
    position: relative;
    right: -15px;
}

.tdTwo {
    position: relative;
    right: 170px;
}

#odedFooter table a {
    text-decoration: none;
    color: black;
}

footer table a:hover {
    text-decoration: underline;
}

#odedFooter table th a {
    font-weight: normal;
}

/*footer p*/

#odedFooter div {
    position: relative;
    top: 30px;
    width: 100%;
    text-align: center;
}

/*footer logo*/

.logoFooter {
    position: relative;
    top: -15px;
    width: 200px;
    height: 98px;
}